@media (min-width: 992px) and (max-width: 1200px) {
  main>section.hero-section {
    justify-content: center;
  }

  main>section.hero-section>img.statue {
    position: absolute;
    width: 35%;
  }

  main>section.hero-section>img.statue:nth-child(1) {
    left: 0;
  }

  main>section.hero-section>img.statue:nth-child(3) {
    right: 0;
  }
}